<div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">

<h3>{{viewTitle}}</h3>
 
<form action="/adminPage" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="userName" placeholder="User Name" value="{{employee.userName}}">
        <div class="text-danger">
            {{employee.userNameError}}</div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="Password" value="{{employee.password}}">
        <div class="text-danger">
            {{employee.passwordError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Type</label>
            <input type="text" class="form-control" name="type" placeholder="Type" value="{{employee.type}}">
               <div class="text-danger">
            {{employee.typeError}}</div>
        </div>
     
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email" value="{{employee.email}}">
               <div class="text-danger">
            {{employee.emailError}}</div>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/adminPage/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
</div>
</div>